.Home {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 100%;
  margin: auto;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.content-med-icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.content-top-icon, .content-bottom-icon {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.cirdown {
  position: relative;
  transform: translate(-505, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cirdown::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 2.21em;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 1px 7px rgba(255, 255, 255, 0.1), 0 0 1px 13px rgba(255, 255, 255, 0.1);
  animation: $anima;
  opacity: 0;
}
@keyframes animate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
/*Type Text Animated*/
/* Cursor */
.map {
  display: inline-block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.map img {
min-width: 100%;
min-height: 100%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: .1;
}
@media (max-width: 768px) {
  .map {
      background: url(../../public/assets/mapa-vh.png);
      background-size: cover;
      height: 100vh;
      opacity: .1;
      bottom: 0;
      right: 0;
      left: 0;
  }
  .map img {
      opacity: 0;
  }
}
// Container Type
.container-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
  height: 100%;
  padding: 0 1rem;
}
.container-type span {
  font-weight: bold;
}
.container-type .hello {
  font-size: 1.5em;
}
@media (min-width: 768px) {
  .container-type::before {
      content: '\A';
      white-space: pre;
  }
}
@media (max-width: 360px) {
  .container-type {
     padding: 0;
  }
}
.container-type h2 {

  font-size: 2em;
}
@media (max-width: 320px) {
  .container-type h2 {
     font-size: 1.5em;
  }
  .txt-type .txt {
    font-size: 1em;
  }
}
.container-type small {
  color: $color-gray;
  font-size: 1em;
}
.container-type p {
  margin-block-start: 0;
  margin-block-end: 2em;
}
.container-type a {
  width: 45%;
  cursor: pointer;
}
.txt-type > .txt {
  font-size: 30px;
}
@media (max-width: 320px) {
  .txt-type .txt {
    font-size: 1em;
  }
}
.txt-type > .txt::after {
  content: '|';
  color: $color-three;
  animation: 1s animated infinite;
}
@keyframes animated {
  from{ opacity: 0;}
  to { opacity: 1;}
}

.content__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5em;
  width: 100%;
  height: 100%;
}
.content__img a {
  width: 100%;
  height: 100%;
  color: $color-gray;
}
.content__img i {
  margin-top: 1.78em;
  background-color: $color;
  color: $color-three;
  font-size: 1.5em;
  text-align: center;
  width: 2em;
  height: 2em;
  position: relative;
  z-index: 99;
}
/*<-------------radar ------------>*/
