// Fonst Global
$font-first: 'Open Sans', sans-serif;
$font-second: 'Poppins', sans-serif;

// Colors Global
$color: #1a1a1a;
$body: #242424;
$color-a: rgba(255, 255, 255, .87);
$color-b: #000;
$color-f: #555;
$color-three: #f5f5f5;
$color-gray: #ccc;
$btn-page: #33a06f;
$btn-border-hover: #35eb9a;
$color-text: rgba(235, 235, 235, .6);
$success: #B3B8C1;
$error: #e74c3c;
$btn-global: rgba(255, 255, 255, 0.1);
$btn-hover: rgba(255, 255, 255, 0.13);
$anima: animate 2s ease-out infinite;
