/*-----------------------------------------------------------------------------------

    Name: Chendo Dev
    Theme URI: @chendodev
    Description: Chendo Dev - Web Site
    Author: @chendodev - chendo | developer && web designer
    Author URI: https://facebook.com/chendodev
    Github: https://github.com/chendodev
    Youtube: https://youtube.com/@chendodev

-----------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: $font-second;
    background-color: $body;
}
h1, h2, h3 {
    font-family: $font-second;
    color: $color-three;
}
h1 {
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    user-select: none;
}
h2 {
    font-size: 15px;
    font-weight: normal;
}
h3 {
    font-size: 2rem;
}
img {
    width: 100%;
    border-style: none;
}
p {
    color: $color-gray;
}
span {
    color: $color-three;
}
/*bar scroll*/
* { scrollbar-width:thin; }
:root {
scrollbar-color: $color-a $body !important;
}

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
    position: relative;
    z-index: 10;
  }
  *::-webkit-scrollbar-track {
    background: $body;
    position: relative;
    z-index: 10;
  }
  *::-webkit-scrollbar-thumb {
    background-color: $color-a;
    border: 3px solid $body;
    position: relative;
    z-index: 10;
  }
  @media (max-width: 768px) {
    ::-webkit-scrollbar {display: none;}
  }
/*<------>*/
/* Container Main Global----------->*/
.container-menu {
    max-width: calc(100% - 17%);
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    left: 17%;
    padding-top: 5.5rem;
}
@media (max-width: 991px) {
    .container-menu {
        width: 100%;
        max-width: 100%;
        position: relative;
        left: 0;
    }
}
.grid-menu  {
    display: flex;
    flex-wrap: wrap;
    margin-top: .7em;
    max-width: 1300px;
    margin: 0 auto;
}
.pd-l {
  padding-left: 15px;
}
@media (min-width: 991px) {
    .grid-menu  {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 480px) {
  .grid-menu  {
      margin-bottom: 50px;
  }
}
@media (max-width: 575px) {
    .col-md-6 {
        padding: 1em 1.5em;
    }
}
.btn-chendo {
    background-color: $btn-global;
    border: 1px solid $color-f;
    color: $color-gray;
    outline: none;
}
.btn-chendo:focus {
    outline: none;
    box-shadow: none;
}
.btn-chendo:hover {
    color: $color-gray;
}

.btn_home {
    display: flex;
}
.btn_home .btn-ev {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: 2px solid #42d392;
    width: 7em;
    color: $color-three;
    letter-spacing: .09em;
    margin-left: .6rem;
    transition: color .25s, outline .25s;
    border: none;
}
.btn_home .btn-ev:hover {
  outline: 2px solid $btn-hover;
  color: $color-gray;
}
/*<------------End Main G------------->*/
/*<-------add v -mobile------->*/
@media (max-width: 574px) {
    .col-md-8 {
        width: 100%;
        height: auto;
        background: $body;
    }
    .mobile-bg {
        background-color: transparent;
        width: 100%;
        margin: 0;
        padding: 0 1em;
    }
    .mobile-bg h2 {
        font-size: 1.3em;
    }
    h1 {
        font-size: 1.5rem;
    }
    .container-contact span {
        color: $color-gray;
        font-size: 1.1rem;
    }
    .design {
        margin: 0 0 3rem 0!important;
    }
    .content__img {
        margin-bottom: 3rem!important;
    }
    .portfolio-mb {
        margin-bottom: 1.5rem !important;
    }
    /*<----575 mb -v c---->*/
    .bartitle {
        position: fixed;
        width: 100%;
        margin: 0;
        z-index: 9999;
    }
    .col-md-8 {
        margin-top: -.99em;
        padding-left: 0;
        padding-right: 0;
    }
    /*<---menu--->*/
    .mobile-btn {
        color: $color;
    }
}
